.display_container {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.display {
 height: 400px;
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: center;
  border-radius: 6px;
  box-shadow: 0px 1px 10px 1px #0dff01;
  padding: 20px;
}

.accounts_container {
   width: 100%;
   padding-bottom: 20px;
   border-bottom: 1px solid #0dff01;
   text-align: right;
}

.wallet {
  padding: 20px;
}