* {
    padding: 0px;
    margin: 0px;
    border: none;
}

.container {
        min-height: 100vh;
        min-width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to right, #2bf9f9, #e757fa);
}

.text_link {
    text-decoration: none;
    cursor: pointer;
    color: #FFFFFF;
}