* {
    padding: 0px;
    margin: 0px;
    border: none;
}
html {
    background: rgb(38, 38, 38);
}
.container {
        min-height: 100vh;
        min-width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* background: linear-gradient(to right, #2bf9f9, #e757fa); */
        background: rgb(38, 38, 38);
}

.text_link {
    /* display: block; */
    /* justify-content: center; */
    text-decoration: none;
        color: cornflowerblue;
        height: 20px;
}

a {
    text-decoration: none;
    color: cornflowerblue;
}